
@{
    ViewData["Title"] = "Index";
}
<form method="post" enctype="multipart/form-data" action="/File/ReadExcelFile">
    <div class="form-group">
        <label for="file">Excel Dosyası Seç:</label>
        <input type="file" name="file" id="file" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Yükle</button>
</form>

