@{
    ViewData["Title"] = "Index";
}
<div class="card">
    <div class="card-body text-center">
        <img id="studentImage" alt="Student Image" style="width: 300px; height: 300px;">
    </div>
    <div class="card-body">
        <div id="studentInfo">
            <p><strong>Student Name:</strong> <span id="studentName"></span></p>
            <p><strong>Class:</strong> <span id="studentClass"></span></p>
            <p><strong>Guardian Name:</strong> <span id="guardianName"></span></p>
            <!-- Diğer bilgileri ekleyebilirsiniz -->
        </div>
    </div>
</div>

@section Scripts {
    <!-- SignalR ve dashboard.js dosyalarını yükleyin -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dashboard.js"></script>

}